<!DOCTYPE html>
<!-- Design by Mahyar Lotfi | mahyarlotfi@gmail.com -->
<!-- Special thanks to codinglab | www.youtube.com/codinglab -->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <title>Personal Management System</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- BoxIcon CDN Link -->
    <link
      href="{{ url_for('static', filename='css/boxicons.min.css') }}"
      rel="stylesheet"
    />
    <!-- Favicon Link -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="static/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="static/img/favicon-16x16.png"
    />
  </head>

  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class="bx bxs-bar-chart-alt-2"></i>
        <span class="logo_name">EBM</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="" class="active">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bx bx-wallet"></i>
            <span class="links_name">Financial</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bx bx-calendar-edit"></i>
            <span class="links_name">Todo</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bx bx-line-chart-down"></i>
            <span class="links_name">stocks</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bx bxl-bitcoin"></i>
            <span class="links_name">Crypto</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bx bx-coin-stack"></i>
            <span class="links_name">Assets</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bx bx-candles"></i>
            <span class="links_name">Forex</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bx bx-doughnut-chart"></i>
            <span class="links_name">Analytic</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bx bxs-file-doc"></i>
            <span class="links_name">Documents</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bx bx-cog"></i>
            <span class="links_name">Setting</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('logout') }}">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- home content -->
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <i class="bx bx-menu sidebarBtn"></i>
          <span class="dashboard">Dashboard</span>
        </div>
        <div class="search-box">
          <input type="text" placeholder="Search..." />
          <i class="bx bx-search"></i>
        </div>
        <div class="profile-details">
          <img src="static/img/admin.jpg" alt="" />
        <span class="admin_name">Administrator</span>
        <i class="bx bx-chevron-down"></i>
        </div>
      </nav>
    <!---->  





    </section>
    <!--    {% block content %}{% endblock %}    -->
  
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
